#container{
    height: 400px;
    width: 400px;
    margin:10px auto;
    border:2px solid skyblue;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#container div{
    height: 100px;
    width: 100px;
    border:2px solid black;
    font-size: 50px;
    background-color: silver;
    border-radius:10px;
    
    text-align: center;
}