div{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:limegreen;
    margin:2px;
    /* display:inline; this will make element inline but properties of box element will not be applied correctly*/
    display:inline-block;/*now all property will work*/
}