h1{
    background-color: yellow;
    color: red;

}

@media(width:400px){
    h1{background-color:skyblue;
    color:black;
}
}


@media(min-width:400px){
    h1{background-color:lightgreen;
    color:black;
}
}