<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page </h1>
    <h3><%=2+3  %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consequuntur praesentium ipsum incidunt qui facere repudiandae dignissimos cumque, quia asperiores voluptate vitae fugiat provident alias maxime iure, dolorum quidem perferendis?
    Ea vel laudantium laborum fugit consequatur minus id sapiente ex tempora placeat. Sed nobis rem minus, rerum facilis sapiente? Laudantium optio ut maiores consequuntur ipsum quaerat cumque odit, qui aspernatur!
    Rerum ad fuga molestiae, officiis ut accusantium incidunt facere quo debitis veritatis dicta dignissimos nihil maxime provident temporibus voluptate. Mollitia, amet veritatis? Est molestiae voluptas nobis esse aspernatur optio porro.</p>
    <button>click Me</button>
</body>
</html>