<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a User</title>
</head>
<body>

    <form method="POST" action="/user/add">
        <input type="text" placeholder="enter id" name="id"/>
        <input type="text" placeholder="enter username" name="username"/>
        <input type="text" placeholder="enter email" name="email"/>
        <input type="password" placeholder="enter password" name="password"/>
        <button>ADD</button>
    </form>

    
    
</body>
</html>