<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>The Total number  of user are:<%=count%></h2>

    <br>

    <form action="/user" method="GET"> <button>Join us today</button> </form>

    
</body>
</html>